import math 

frase =input()
crt = len([ele for ele in frase if ele.isalpha()])
plv = len(frase.split())
#metrica
metrica: float = (4.17*(crt/plv)) + (0.5*(plv/1)) - 21.43

if metrica <= 1:
    print('1')
elif metrica >= 14:
    print('14')
else:
    print (math.ceil(metrica))
